@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --mainColor: #BB99DD;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f9faff;
    transition: background 0.2s linear;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.2s linear;
}


@media screen and (min-width: 1024px) {

    main {
        width: 40%;
    }
    
}