.checkbox {
    opacity: 0;
    position: absolute;
} 

label {
    background-color: #BB99DD;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 2.6rem;
    width: 5rem;

    transform: scale(1.5);
}

label.dark {
    background-color: #111;
}

.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 2.2rem;
    width: 2.2rem;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
    font-size: 1.3rem
}

.fa-sun {
    color: #ddff00;
    font-size: 1.3rem
}
