.photo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border: .4rem solid var(--mainColor);
    margin-bottom: 1.5rem;
    transition: 0.3s;
    opacity: 0;
    animation: displayUserContainer ease-in-out 1s forwards;
    animation-delay: 0s;
}

.photo__container:hover {
    transform: scale(1.1);
}

.photo__container img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}


.user__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    opacity: 0;
    animation: displayUserContainer ease-in-out 1s forwards;
    animation-delay: .5s;
}


.user__container p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--mainColor);
    margin-bottom: 3.3rem;
}

.user__container h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.4rem;


    text-align: center;

    color: var(--mainColor);
}

.user__container h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    background-color: var(--mainColor);
    padding: .7rem 2rem;
    border-radius: 20rem;
    color: white;
}


@keyframes displayUserContainer {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}